<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-siteapp">

    <title>房东</title>
    <link rel='stylesheet' href='http://www.dmaku.com/demo/moban/2018061451985310/css/style.css' type='text/css'/>
    <link rel='stylesheet' href='/css/user/index.css' type='text/css'/>
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/element-ui.js"></script>
    <link rel="stylesheet" href="/css/element-ui.css">
    <link rel="stylesheet" href="/css/iconfont.css">
</head>
<body class="home blog">
<div id="landlordIndex">
    <header class="header">
        <div class="container">
            <div class="sitenav" style="float: right">
                <ul>
                    <li class="menu-item"><a href="javascript:;" @click="num=1,http()">我的房源</a></li>
                    <li class="menu-item"><a href="javascript:;" @click="num=2">发布房源</a></li>
                    <li class="menu-item"><a href="javascript:;" @click="num=4">我的</a></li>
                    <li class="menu-item"><a href="/login">退出登录</a></li>
                </ul>
            </div>
        </div>

    </header>
    <div v-if="num==1">
        <div id="homeso">
            <form style="text-align: center;float: none">
                <input tabindex="2" class="homesoin" type="text" v-model="key" placeholder="输入关键字">
                <button tabindex="3" class="homesobtn" type="button" @click="http()"><i class="fa">查找</i></button>
            </form>


        </div>
        <section class="container">
            <div class="single-strong">我的房源<span class="chak"><a href="javascript:;">查看更多</a></span></div>
            <div class="b-listtab-main">
                <div class="s-tab-main">
                    <ul class="list g-clear" :index="String(index)" :key="index" v-for="(item,index) of houseListData">
                        <li class='item'>
                            <div class='cover g-playicon' @click="detail(item.id),isInfo=true">
                                <img :src='item.houseImg'/>
                            </div>
                            <div class='detail'>
                                <p class='title g-clear'>
                                    <span class='s1'> {{item.subject}}</span>
                                </p>
                                <p class='title g-clear'>
                                    <span class='s2'> &yen; {{String(item.price).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</span>
                                </p>
                                <p class='star'>{{item.houseAddress}}</p>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="branding branding-black">
                <div class="container" style="text-align: center;">
                    <h2>租房</h2>
                    <a class="gobtn" @click="message('联系我们','success')">联系我们</a>
                    <a class="gobtn" @click="message('加入我们','success')">加入我们</a></div>
            </div>
        </footer>
    </div>
    <div v-if="num==2">
        <div style="text-align: center;margin-top: 50px">
            <div style="margin-bottom: 20px;">
                标题:
                <el-input v-model="house.subject" placeholder="姓名" style="width:300px"></el-input>
            </div>
            <div style="margin-bottom: 20px">
                地址:
                <el-input v-model="house.houseAddress" placeholder="手机号" style="width:300px"></el-input>
            </div>
            <div style="margin-bottom: 20px">
                金额:
                <el-input v-model="house.price" placeholder="金额" style="width:300px" maxlength="11"></el-input>
            </div>
            <div style="margin-bottom: 20px">
                备注:
                <el-input v-model="house.remark" placeholder="备注" style="width:300px"></el-input>
            </div>
            <div style="margin-bottom: 20px">
                图片:
                <el-input v-model="house.houseImg" placeholder="图片" style="width:300px"></el-input>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addDialog = false">取 消</el-button>
                <el-button type="primary" @click="saveHouse()">保存</el-button>
            </div>
        </div>


    </div>
    <div v-if="num==4">
        <div style="margin-left: 50px;margin-top: 20px;font-size: 20px">

            姓名: <font color="blue">{{user.name}}</font><br/>
            编号: <font color="blue"> {{user.userCode}}</font><br/>
            手机号: <font color="blue">{{user.phone}}</font><br/>
            性别: <font color="blue"> {{user.sex==1?"男":"女"}}</font><br/>
            类型: <font color="blue"> {{user.type==1?"租客":"房东"}}</font><br/>
            头像：<br/> <img :src="user.img" style="width: 300px;height: 300px"/>
        </div>

    </div>

    <el-dialog
            title="房源详情"
            :visible.sync="isInfo"
            width="400"
            height="500"
    >
        <div style="margin-bottom: 20px;font-size: 20px">
            房东姓名:<span style="color: #ff100a;">{{houseInfo.name}}</span>
        </div>
        <div style="margin-bottom: 20px;font-size: 20px">
            房东手机:<span style="color: #ff100a;">{{houseInfo.phone}}</span>
        </div>
        <div style="margin-bottom: 20px;font-size: 20px">
            房源标题:<span style="color: #ff100a;">{{houseInfo.subject}}</span>
        </div>
        <div style="margin-bottom: 20px;font-size: 20px">
            房源地址:<span style="color: #ff100a;">{{houseInfo.houseAddress}}</span>
        </div>
        <div style="margin-bottom: 20px;font-size: 20px">
            房源金额:<span style="color: #ff100a;">{{houseInfo.price}}</span>
        </div>
        <div style="margin-bottom: 20px;font-size: 20px">
            备注信息:<span style="color: #ff100a;">{{houseInfo.remark}}</span>
        </div>
        <span slot="footer" class="dialog-footer">
    <el-button @click="isInfo = false">取消</el-button>
    <el-button type="primary" @click="deleteByHouseCode(houseInfo.houseCode)">删除房源</el-button>
  </span>
    </el-dialog>
</div>

</body>
<script>
    new Vue({
        el: '#landlordIndex',
        data: {
            key: null,
            num: 1,
            houseListData: [],
            isInfo: false,
            userCode: "",
            user: {},
            houseInfo: {
                houseCode: "",
                name: "",
                phone: "",
                subject: "",
                houseAddress: "",
                price: "",
                remark: ""
            },
            house: {
                subject: "",
                userCode: "",
                houseAddress: "",
                houseImg: "",
                price: null,
                remark: ""
            }
        },
        mounted() {
            this.getUserInfo();
        },
        methods: {
            http() {
                axios.post("/house/houseList", {
                    key: this.key,
                    userCode: this.userCode
                }).then(res => {
                    const {code, data} = res.data;
                    this.houseListData = data;
                });
            },
            getUserInfo() {
                axios.get("/user/getInfo/2").then(res => {
                    const {code, data} = res.data;
                    this.userCode = data.userCode;
                    this.user = data;
                    this.http();
                });
            },
            detail(id) {
                axios.get("/house/getInfoById/" + id).then(res => {
                    const {code, message, data} = res.data;
                    if (code === 200) {
                        this.houseInfo = data
                    } else {
                        this.message(message, "error");
                    }
                });


            },
            //success warning info error
            message(message, type) {
                this.$message({
                    message: message,
                    type: type == null ? "info" : type

                });
            },
            priceFormat(row, column, cellValue) {
                if (cellValue) {
                    return cellValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
                return 0;
            },
            deleteByHouseCode(houseCode) {
                axios.get("/house/deleteByHouseCode/" + houseCode).then(res => {
                    const {code, message, data} = res.data;
                    if (code === 200) {
                        this.message(message, "success");
                        this.isInfo = false
                        this.http();
                    } else {
                        this.message(message, "error");
                    }
                });
            },
            saveHouse() {
                this.house.userCode = this.userCode;
                axios.post("/house/save", this.house).then(res => {
                    const {code, message} = res.data;
                    if (code === 200) {
                        this.message(message, "success");
                        this.http();
                        this.num = 1;
                        this.house = {
                            subject: "",
                            userCode: "",
                            houseAddress: "",
                            houseImg: "",
                            price: null,
                            remark: ""
                        }
                    } else {
                        this.message(message, "error");
                    }
                });
            }
        }
    })
</script>
</html>