<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="cache-control" content="no-siteapp">

    <title>首页</title>
    <script type='text/javascript' src='http://www.dmaku.com/demo/moban/2018061451985310/js/sjgc777.js'></script>
    <link rel='stylesheet' href='http://www.dmaku.com/demo/moban/2018061451985310/css/style.css' type='text/css'/>
    <link rel='stylesheet' href='http://www.dmaku.com/demo/moban/2018061451985310/css/index.css' type='text/css'/>
    <script type='text/javascript'
            src='http://www.dmaku.com/demo/moban/2018061451985310/js/jquery.min.js?ver=0.5'></script>
</head>
<body class="home blog">

<header class="header">
    <div class="container">
        <h1 class="logo">
            <img src="http://www.dmaku.com/demo/moban/2018061451985310/images/logo.png">
        </h1>
        <div class="sitenav">
            <ul>
                <li id="menu-item-18" class="menu-item"><a href="javascript:;">首页</a>
                </li>
                <li id="menu-item-27" class="menu-item"><a href="javascript:;">电影</a></li>
                <li id="menu-item-31" class="menu-item"><a href="javascript:;">追热剧</a></li>
                <li id="menu-item-21" class="menu-item"><a href="javascript:;">综艺</a></li>
                <li id="menu-item-22" class="menu-item"><a href="javascript:;">动漫</a></li>
                <li id="menu-item-23" class="menu-item"><a href="javascript:;">搞笑</a></li>
                <li id="menu-item-24" class="menu-item"><a href="javascript:;">电视直播</a></li>
                <li id="menu-item-25" class="menu-item"><a href="javascript:;">购物</a></li>
                <li id="menu-item-26" class="menu-item"><a href="javascript:;">客户端</a></li>
            </ul>
        </div>
        <form class="searchform">
            <button tabindex="3" class="sbtn" type="button"><i class="fa"></i></button>
            <input tabindex="2" class="sinput" name="wd" type="text" placeholder="输入关键字" value="">
        </form>
    </div>

</header>
<div id="homeso">
    <form style="text-align: center;float: none">
        <img src="http://www.dmaku.com/demo/moban/2018061451985310/images/sologo.png"><br><br>
        <input tabindex="2" class="homesoin" type="text" placeholder="输入关键字" value="">
        <button tabindex="3" class="homesobtn" type="button"><i class="fa">查找</i></button>
    </form>


</div>
<section class="container">
    <div class="single-strong">房源列表<span class="chak"><a href="javascript:;">查看更多</a></span></div>
    <div class="b-listtab-main">
        <div class="s-tab-main">
            <ul class="list g-clear">
                <li class='item'><a class='js-tongjic' href='javascript:;' title='缝纫机乐队' target='_blank'>
                    <div class='cover g-playicon'>
                        <img src='http://www.dmaku.com/demo/moban/2018061451985310/images/t014d27432f4cc48061.jpg'
                             alt='缝纫机乐队'/>
                        <span class='pay'>推荐</span> <span class='hint'>2017</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>缝纫机乐队</span>
                            <span class='s2'>6.7</span></p>
                        <p class='star'>主演：大鹏 乔杉 娜扎 韩童生 李鸿其</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='湮灭' target='_blank'>
                    <div class='cover g-playicon'>
                        <img src='http://www.dmaku.com/demo/moban/2018061451985310/images/t0167fe0c4e5f6048f6.jpg'
                             alt='湮灭'/>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>湮灭</span>
                            <span class='s2'>7.2</span></p>
                        <p class='star'>主演：娜塔莉·波特曼 詹妮弗·杰森·李 吉娜·罗德里格兹 泰莎·汤普森 奥斯卡·伊萨克</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='二十二' target='_blank'>
                    <div class='cover g-playicon'>
                        <img src='http://www.dmaku.com/demo/moban/2018061451985310/images/t014b74f5d02588bc6e.jpg'
                             alt='二十二'/>
                        <span class='pay'>推荐</span> <span class='hint'>2017</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>二十二</span>
                            <span class='s2'>8.8</span></p>
                        <p class='star'>主演：韦绍兰 毛银梅 何玉珍 李凤云 张先兔</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='南方有乔木'>
                    <div class='cover g-playicon'>
                        <img src='http://p1.qhimg.com/d/dy_7e7ea56ec7445ae98d540592ed2a9a2b.' alt='南方有乔木'/>
                        <span class='hint'>40集全</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>南方有乔木</span>
                            <span class='s2'></span></p>
                        <p class='star'>主演：陈伟霆 白百何 李现 白冰 张宥浩</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='特警飞龙'>
                    <div class='cover g-playicon'>
                        <img src='http://p1.qhimg.com/d/dy_7e7ea56ec7445ae98d540592ed2a9a2b.' alt='特警飞龙'/>
                        <span class='hint'>更新至30集</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>特警飞龙</span>
                            <span class='s2'></span></p>
                        <p class='star'>主演：洪金宝 范冰冰 洪天照</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='法网追凶第一季'>
                    <div class='cover g-playicon'>
                        <img src='http://p1.qhimg.com/d/dy_7e7ea56ec7445ae98d540592ed2a9a2b.' alt='法网追凶第一季'/>
                        <span class='hint'>12集全</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>法网追凶第一季</span>
                            <span class='s2'></span></p>
                        <p class='star'>主演：马境 王梓权 王劲松（演员） 陈颢文 王晓</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='谈判官'>
                    <div class='cover g-playicon'>
                        <img src='http://p1.qhimg.com/d/dy_7e7ea56ec7445ae98d540592ed2a9a2b.' alt='谈判官'/>
                        <span class='hint'>43集全</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>谈判官</span>
                            <span class='s2'></span></p>
                        <p class='star'>主演：杨幂 黄子韬 郭品超 毛林林 杨菲洋</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='下一站，别离'>
                    <div class='cover g-playicon'>
                        <img src='http://p2.qhimg.com/d/dy_ca7457ac0e5d3ae2228e9793427739df.' alt='下一站，别离'/>
                        <span class='hint'>40集全</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>下一站，别离</span>
                            <span class='s2'></span></p>
                        <p class='star'>主演：于和伟 李小冉 邬君梅 姚奕辰 谈莎莎</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='熊爸熊孩子'>
                    <div class='cover g-playicon'>
                        <img src='http://p4.qhimg.com/d/dy_463e5e8a210d40ce9a773cb4cf70355a.' alt='熊爸熊孩子'/>
                        <span class='hint'>35集全</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>熊爸熊孩子</span>
                            <span class='s2'></span></p>
                        <p class='star'>主演：沙溢 刘峻喆 胡可 李佳航 李金铭</p>
                    </div>
                </a></li>
                <li class='item'><a class='js-tongjic' href='javascript:;' title='红蔷薇'>
                    <div class='cover g-playicon'>
                        <img src='http://p1.qhimg.com/d/dy_7e7ea56ec7445ae98d540592ed2a9a2b.' alt='红蔷薇'/>
                        <span class='hint'>48集全</span>
                    </div>
                    <div class='detail'>
                        <p class='title g-clear'>
                            <span class='s1'>红蔷薇</span>
                            <span class='s2'></span></p>
                        <p class='star'>主演：杨子姗 陈晓 毛林林 谭凯 田雷</p>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</section>

<div class="foornav">
    <a href="javascript:;"><span>首页</span></a>
    <a href="javascript:;"><span>电影</span></a>
    <a href="javascript:;"><span>电视剧</span></a>
    <a href="javascript:;"><span>综艺</span></a>
    <a href="javascript:;"><span>购物</span></a></div>
<footer class="footer">
    <div class="branding branding-black">
        <div class="container" style="text-align: center;">
            <h2>XXXXXXXXXXXXXXXX</h2>
            <a target="blank" class="gobtn" href="javascript:;">XXXXXXXX</a>
            <a target="blank" class="gobtn" href="javascript:;">XXXXXXXX</a></div>
    </div>
</footer>
</body>
</html>